<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/aboutus.css">
    <title>About Us</title>
</head>
<body>
    <div class="header-container">
        <div class="logo">
        <h1>
    
            AUTOSERVICE

        </h1>
        </div>

        <div class="navbar">
            <nav class="navbar-container">
                <ul id="navbar-links" class="sf-menu">
                    <li id="home-id">
                        <a href="/" aria-current="page">Home</a>
                    </li>

                    <li id="service-id">
                        <a href="/ourservices">Services</a>
                    </li>

                    <!-- <li
                        id="services-id">
                        <a href="/services">Services</a>
                        <ul class="dropdown">
                        <li
                            id="service1"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-1001"
                        >
                            <a href="/engine-diagnostics"
                            >Engine Diagnostics</a
                            >
                        </li>
                        <li
                            id="service2"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-1000"
                        >
                            <a href="/lube-oil-and-filters"
                            >Lube Oil and Filters</a
                            >
                        </li>
                        <li
                            id="service3"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-999"
                        >
                            <a href="/belts-and-hoses"
                            >Belts and Hoses</a
                            >
                        </li>
                        <li
                            id="service4"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-998"
                        >
                            <a href="/air-conditioning"
                            >Air Conditioning</a
                            >
                        </li>
                        <li
                            id="service5"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-997"
                        >
                            <a href="/brake-repair"
                            >Brake Repair</a
                            >
                        </li>
                        <li
                            id="service6"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-996"
                        >
                            <a href="/tire-and-wheel-services"
                            >Tire and Wheel Services</a
                            >
                        </li>
                        </ul>
                    </li> -->
                    <li
                        id="gallery-id"
                    >
                        <a href="/aboutus">About Us</a>

                    </li>
                    <li
                        id="our-team-id"
                    >
                        <a href="/ourteam">Our Team</a>
                    </li>

                    <li
                        id="menu-item-989"
                    >
                        <a href="/appointment">Appointment</a>
                    </li>

                    <li
                        id="contact-id"
                    >
                        <a href="/contactus">Contact Us</a>

                    </li>

                    <li
                        id="contact-id"
                    >
                        <a href="/login">Login</a>

                    </li>
                </ul>
            </nav>
        </div>

    </div>
    <div class="section1">
        <div class="section1-title">
            <p>About Us</p>
        </div>
        <div class="section1-info">
            <p>YOU ARE HERE: <a href="/">Home</a> / ABOUT US</p>

        </div>
    </div>


    <div class="section2">

    
        <div class="section2-details">
            <div class="detail1">
                <h5>We offer a full range of garage services to vehicle owners located in Tucson area. All mechanic services are performed by highly qualified mechanics. We can handle any car problem.</h5>
            </div>
            <div class="detail2">
                <p>We offer full range of garage services to vehicle owners in Tucson. Our professionals know how to handle a wide range of car services. Whether you drive a passenger car or medium sized truck or SUV, our mechanics strive to ensure that your vehicle will be performing at its best before leaving our car shop. Whether you drive a medium sized truck or passenger car or SUV, our mechanics strive to ensure.</p>
            </div>
            <div class="detail3">
                <div class="detail3-title">
                    <p>WHY CHOOSE US?</p>
                </div>

                <div class="detail3-verticle-line"></div>

                <div class="detail3-list">
                    <p>We make auto repair and maintenance more convenient for you</p>
                    <p>We make auto repair and maintenance more convenient for you</p>
                    <p>We are a friendly, helpful and professional group of people</p>
                    <p>Our professionals know how to handle a wide range of car services</p>
                    <p>We get the job done right — the first time</p>
                    <p>Same day service for most repairs and maintenance</p>
                </div>

            </div>
            <div class="services-btn">
                <a target="_blank" href="/services">OUR SERVICES</a>
            </div>
    
        </div>
    
        <div class="section2-imgs">
            <div class="img-part1">
                <a href="/brake-repair"><img src="/static/images/aboutus-img1.jpg" alt="img"></a>
            </div>

            <div class="img-part2">
                <div class="img">
                    <a href="/lube-oil"><img src="/static/images/aboutus-img2.jpg" alt="img"></a>
                </div>
                <div class="img">
                    <a href="/engine-diagnostica"><img src="/static/images/aboutus-img3.jpg" alt="img"></a>
                </div>
            </div>
        </div>


    </div>

    <div class="section3">
        <div class="section3-container">
            <div id="section3-container-info">
                <div class="customer-satisfaction">
                    <h2 class="counter-number" data-number="100">0</h2>
                    <h2>%</h2>
                </div>
                <p>CUSTOMER SATISFACTION</p>
            </div>
            <div class="section3-container-info">
                <h2 class="counter-number" data-number="2439">0</h2>
                <p>CARS REPAIRED</p>
            </div>
            <div class="section3-container-info">
                <h2 class="counter-number" data-number="3210">0</h2>
                <p>CARS WASHED</p>
            </div>
            <div class="section3-container-info">
                <h2 class="counter-number" data-number="1708">0</h2>
                <p>ENGINES DIAGNOSED</p>
            </div>

        </div>
    </div>
    
    <div class="section4">
        <div class="section4-heading">
            <h1>COMPANY OVERVIEW</h1>
        </div>

        <div class="vertical-line"></div>

        <div class="section4-detail">
            <p>
                We can help you with everything from an oil change to an engine change. <br>
                We can handle any problem on both foreign and domestic vehicles.
            </p>
        </div>

        <div class="section4-overview-details">
 
            <div class="section4-overview-detailed-info">

                <div class="overview">
                    <div class="overview-title">
                        <h4>CAR AUDIO SERVICE</h4>
                    </div>
                    <div class="overview-details">
                        <div class="overview-img">
                            <img src="/static/images/audio.png" alt="img">
                        </div>
                        <div class="overview-detail">
                            <p>
                                Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="overview">
                    <div class="overview-title">
                        <h4>OIL CHANGE</h4>
                    </div>
                    <div class="overview-details">
                        <div class="overview-img">
                            <img src="/static/images/oil.png" alt="img">
                        </div>
                        <div class="overview-detail">
                            <p>
                                Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="overview">
                    <div class="overview-title">
                        <h4>ENGINE DIAGNOSTIC</h4>
                    </div>
                    <div class="overview-details">
                        <div class="overview-img">
                            <img src="/static/images/diagnostics.png" alt="img">
                        </div>
                        <div class="overview-detail">
                            <p>
                                Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.
                            </p>
                        </div>
                    </div>
                    
                </div>

            </div>
 
            <div class="section4-overview-detailed-info">

                <div class="overview">
                    <div class="overview-title">
                        <h4>CAR A/C RECHARGE</h4>
                    </div>
                    <div class="overview-details">
                        <div class="overview-img">
                            <img src="/static/images/ac.png" alt="img">
                        </div>
                        <div class="overview-detail">
                            <p>
                                Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="overview">
                    <div class="overview-title">
                        <h4>PARKING CENSORS CALIBRATION</h4>
                    </div>
                    <div class="overview-details">
                        <div class="overview-img">
                            <img src="/static/images/parkingcensor.png" alt="img">
                        </div>
                        <div class="overview-detail">
                            <p>
                                Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="overview">
                    <div class="overview-title">
                        <h4>CAR BATTERY REPAIRS</h4>
                    </div>
                    <div class="overview-details">
                        <div class="overview-img">
                            <img src="/static/images/repair.png" alt="img">
                        </div>
                        <div class="overview-detail">
                            <p>
                                Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.
                            </p>
                        </div>
                    </div>
                    
                </div>

            </div>

        </div>

    </div>


    <div class="footer">
        <div class="footer-header">

            <div class="footer-header-title">
                <div class="footer-header-img">
                    <img src="/static/images/location.png" alt="img">
                </div>
                <div class="footer-header-detail">
                    <div class="footer-header-detail-heading">
                        <p>Lahore</p>
                    </div>
                    <div class="footer-header-detail-info">
                        <p>PUCIT OLD CAMPUS</p>                        
                    </div>
                </div>

            </div>

            <div class="footer-header-title">
                <div class="footer-header-img">
                    <img src="/static/images/phone.png" alt="img">
                </div>
                <div class="footer-header-detail">
                    <div class="footer-header-detail-heading">
                        <p>Feel Free to Call Us Now</p>
                    </div>
                    <div class="footer-header-detail-info">
                        <p>(042)4472 8290</p>                        
                    </div>
                </div>
            </div>

            <div class="footer-header">
                <div id="service-img" class="footer-header-img">
                    <img src="/static/images/servicecar.png" alt="img">
                </div>
                <div id="service-detail" class="footer-header-detail">
                    <div class="footer-header-detail-heading">
                        <p>24/7 Roadside Assistance</p>
                    </div>
                    <div class="footer-header-detail-info">
                        <p>(042)775 2725</p>                        
                    </div>
                </div>
            </div>

        </div>

        <div class="footer-vertical-line"></div>

        <div class="footer-end">
            
            <div class="footer-end-portion1">

                <div class="portion1-title">
                    <p>ABOUT US</p>
                </div>

                <div class="footer-portion-vertical-line"></div>
                
                <div class="portion1-details">
                    <p>Lahore</p>
                    <p>PUCIT OLD CAMPUS</p>
                    <div class="portion1-details-points">
                        <div class="point">
                            <p>Mobile:</p>
                            <p class="point-info">(042)4472 8290</p>
                        </div>
                        <div class="point">
                            <p>Assistance:</p>
                            <p class="point-info">(042)775 2725</p>
                        </div>
                        <div class="point">
                            <p>E-mail:</p>
                            <p class="point-info">bsef20a028@pucit.edu.pk</p>
                        </div>
                    </div>
                </div>


            </div>
            
            <div class="footer-end-portion2">

                <div class="portion2-title">
                    <p>OUR SERVICES</p>
                </div>

                <div class="footer-portion-vertical-line"></div>

                <div class="portion2-points">
                    <ul>
                        <li><a href="/enginediagnostics">Engine Diagnostics</a></li>
                        <li><a href="/lube-oil"> Lube, Oil and Filters</a></li>
                        <li><a href="/carwash">Car Wash</a></li>
                        <!-- <li>Belts And Hoses</li> -->
                        <li><a href="/airconditioning">Air Conditioning</a></li>
                        <li><a href="/brake-repair">Brake Repair</a></li>
                        <li><a href="/wheel-service">Tire And Wheel Services</a></li>
                    </ul>
                </div>

            </div>
            
            <div class="footer-end-portion3">

                <div class="portion3-title">
                    <p>POPULAR TAGS</p>
                </div>

                <div class="footer-portion-vertical-line"></div>

                <div class="portion3-details">
                    <div class="tag-row">
                        <a href="/brakes">BRAKES</a>
                        <a href="/diagnostics">ENGINE</a>
                        <a href="/engine">AC</a>
                    </div>

                    <div class="tag-row">
                        <a href="/filters">FILTERS</a>
                        <a href="/oils">Oils</a>
                        <a href="/suspension">Suspension</a>
                    </div>

                    <!-- <div class="tag-row-3">
                        <a href="/brakes">BRAKES</a>
                        <a href="/diagnostics">DIAGNOSTICS</a>
                        <a href="/engine">ENGINE</a>
                    </div> -->
                    
                    <!-- <ul>

                        <li><a href="/filters">FILTERS</a></li>
                        <li><a href="/oils">Oils</a></li>
                        <li><a href="/suspension">Suspension</a></li>
                    </ul> -->
                </div>

            </div>

            <div class="footer-end-portion4">

                <div class="portion4-title">
                    <p>TIMINGS</p>
                </div>

                <div class="footer-portion-vertical-line"></div>
                
                <div class="portion4-details">
                    <div class="days">
                        <p>MONDAY:</p>
                        <p>TUESDAY:</p>
                        <p>WEDNESDAY:</p>
                        <p>THURSDAY:</p>
                        <p>FRIDAY:</p>
                        <p>SATUREDAY:</p>
                        <p>SUNDAY:</p>
                    </div>
                    <div class="timings">
                        <p>7:30am - 5:30pm:</p>
                        <p>7:30am - 5:30pm:</p>
                        <p>7:30am - 5:30pm:</p>
                        <p>7:30am - 5:30pm:</p>
                        <p>7:30am - 5:30pm:</p>
                        <p>7:30am - 5:30pm:</p>
                        <p>Closed</p>
                    </div>
                </div>
            </div>

        
        </div>

    </div>



    <script>
        const section3=document.querySelector('.section3');
        const counterObserver = new IntersectionObserver(
            (entries,observer)=>{
                const[entry]=entries;
                if(!entry.isIntersecting) return;
                const counterNum=document.querySelectorAll('.counter-number');
                const speed=100;
                counterNum.forEach((curElem) => {
                    const updateNumber = () => {
                        const targetNumber = parseInt(curElem.getAttribute('data-number'));
                        const initialNumber = parseInt(curElem.innerText);
                        const incrementNumber = Math.trunc(targetNumber/speed);
                        if(initialNumber<targetNumber){
                            curElem.innerText = `${initialNumber+incrementNumber}`;
                            if(initialNumber+incrementNumber >= targetNumber){
                                curElem.innerText = targetNumber;
                                return;
                            }
                            setTimeout(updateNumber,10);
                        }
                    };
                    updateNumber();
                });

            },{
                root: null,
                threshold: 0,
            }
        );

        counterObserver.observe(section3);

    </script>


    <!-- <script>
        const section3=document.querySelector('.section3');
        const counterObserver = new IntersectionObserver(
            (entries,observer)=>{
                const[entry]=entries;
                console.log(entry);
                if(!entry.isIntersecting) return;
                const counterNum=document.querySelectorAll('.counter-number');
                const speed=200;
                counterNum.forEach((curElem) => {
                    const updateNumber = () => {
                        const targetNumber = parseInt(curElem.getAttribute('data-number'));
                        const initialNumber = parseInt(curElem.innerText);
                        const incrementNumber = Math.trunc(targetNumber/speed);
                        if(initialNumber<targetNumber){
                            curElem.innerText = `${initialNumber+incrementNumber}`;
                            setTimeout(updateNumber,10);
                        }
                    };
                    updateNumber();
                });

            },{
                root: null,
                threshold: 0,
       
            }
        );

        counterObserver.observe(section3);

    </script> -->


</body>
</html>