<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/adminpanel.css">
</head>
<body id="body-pd">

  <div class="header-container">
        <div class="logo">
            <a style="text-decoration: none" href="/adminpanel"><h1>AUTOSERVICE</h1></a>
        </div>

        <div class="navbar">
            <nav class="navbar-container">
                <ul id="navbar-links" class="sf-menu">

                    <li id="service-id">
                        <a href="/employees">Employees</a>
                    </li>

                    <li
                        id="aboutus-id"
                    >
                        <a href="/services">Services</a>

                    </li>
                    <li
                        id="our-team-id"
                    >
                        <a href="/viewfeedback">View Feedbacks</a>
                    </li>

                    <li
                        id="menu-item-989"
                    >
                        <a href="/viewappointments">Appointment</a>
                    </li>

                    <li
                        id="contact-id"
                    >
                        <a href="/adminlogout">Logout</a>

                    </li>
                </ul>
            </nav>
        </div>

    </div>

<div class="container">

    <div class="img-container">
        <div class="heading">
            <h1>Admin Panel</h1>
        </div>
    </div>

    <div class="btns">
        <a href="/addemployeepage" class="button button1">Add New Employees</a>
        <a href="/addservice" class="button button1">Add New Service</a>
    </div>
</div>



</body>
</html>