<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointment</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/appointment.css" />
</head>
<body>
    <div class="header-container">
        <div class="logo">
        <h1>

            CARSERVICE

        </h1>
        </div>

        <div class="navbar">
            <nav >
                <ul id="navbar-links" class="sf-menu">
                    <li id="home-id">
                        <a href="/" aria-current="page">Home</a>
                    </li>

                    <li id="service-id">
                        <a href="/services">Services</a>
                    </li>

                    <!-- <li
                        id="services-id">
                        <a href="/services">Services</a>
                        <ul class="dropdown">
                        <li
                            id="service1"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-1001"
                        >
                            <a href="/engine-diagnostics"
                            >Engine Diagnostics</a
                            >
                        </li>
                        <li
                            id="service2"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-1000"
                        >
                            <a href="/lube-oil-and-filters"
                            >Lube Oil and Filters</a
                            >
                        </li>
                        <li
                            id="service3"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-999"
                        >
                            <a href="/belts-and-hoses"
                            >Belts and Hoses</a
                            >
                        </li>
                        <li
                            id="service4"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-998"
                        >
                            <a href="/air-conditioning"
                            >Air Conditioning</a
                            >
                        </li>
                        <li
                            id="service5"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-997"
                        >
                            <a href="/brake-repair"
                            >Brake Repair</a
                            >
                        </li>
                        <li
                            id="service6"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-996"
                        >
                            <a href="/tire-and-wheel-services"
                            >Tire and Wheel Services</a
                            >
                        </li>
                        </ul>
                    </li> -->
                    <li
                        id="gallery-id"
                    >
                        <a href="/aboutus">About Us</a>

                    </li>
                    <li
                        id="our-team-id"
                    >
                        <a href="/ourteam">Our Team</a>
                    </li>

                    <li
                        id="menu-item-989"
                    >
                        <a href="/appointment">Appointment</a>
                    </li>

                    <li
                        id="contact-id"
                    >
                        <a href="/contactus">Contact Us</a>

                    </li>
                </ul>
            </nav>
        </div>

    </div>
    <hr>
    <br>
    <div class="content">
        <h1>BOOK AN APPOINTMENT</h1>

        <p>We are one of the leading auto repair shops serving customers in Tucson.<br> All mechanic services are performed by highly qualified mechanics.</p>
    </div>

    <div class="main">
        <div class="container">

            <div class="card">
                <label>Vehicle Year</label>
                <br>
                <input type="range">
            </div>

            <div class="card">
                <label>Vehicle Make</label>
                <br>
                <input type="text">
            </div>

            <div class="card">
                <label>Vehicle Mileage</label>
                <br>
                <input type="text" placeholder="Vehicle Mileage">
            </div>
        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>