<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
          <link rel="stylesheet" href="/static/styles/contactus.css" />

      <title>Contact Us</title>
  </head>
  <body>
    <div class="header-container">
        <div class="logo">
        <h1>

            AUTOSERVICE

        </h1>
        </div>

        <div class="navbar">
            <nav class="navbar-container">
                <ul id="navbar-links" class="sf-menu">
                    <li id="home-id">
                        <a href="/" aria-current="page">Home</a>
                    </li>

                    <li id="service-id">
                        <a href="/ourservices">Services</a>
                    </li>

                    <!-- <li
                        id="services-id">
                        <a href="/services">Services</a>
                        <ul class="dropdown">
                        <li
                            id="service1"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-1001"
                        >
                            <a href="/engine-diagnostics"
                            >Engine Diagnostics</a
                            >
                        </li>
                        <li
                            id="service2"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-1000"
                        >
                            <a href="/lube-oil-and-filters"
                            >Lube Oil and Filters</a
                            >
                        </li>
                        <li
                            id="service3"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-999"
                        >
                            <a href="/belts-and-hoses"
                            >Belts and Hoses</a
                            >
                        </li>
                        <li
                            id="service4"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-998"
                        >
                            <a href="/air-conditioning"
                            >Air Conditioning</a
                            >
                        </li>
                        <li
                            id="service5"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-997"
                        >
                            <a href="/brake-repair"
                            >Brake Repair</a
                            >
                        </li>
                        <li
                            id="service6"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-996"
                        >
                            <a href="/tire-and-wheel-services"
                            >Tire and Wheel Services</a
                            >
                        </li>
                        </ul>
                    </li> -->
                    <li
                        id="gallery-id"
                    >
                        <a href="/aboutus">About Us</a>

                    </li>
                    <li
                        id="our-team-id"
                    >
                        <a href="/ourteam">Our Team</a>
                    </li>

                    <li
                        id="menu-item-989"
                    >
                        <a href="/appointment">Appointment</a>
                    </li>

                    <li
                        id="contact-id"
                    >
                        <a href="/contactus">Contact Us</a>

                    </li>

                    <li
                        id="contact-id"
                    >
                        <a href="/login">Login</a>

                    </li>
                </ul>
            </nav>
        </div>

    </div>
    <div class="section1">
      <div class="section1-title">
        <p>OUR TEAM</p>
      </div>
      <div class="section1-info">
        <p>YOU ARE HERE: <a href="/">Home</a> / Contact Us</p>
      </div>
    </div>

    <div class="map-section">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1457.027158290183!2d74.30893701418401!3d31.57002600335576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39191ca7d960f837%3A0xc0bb6ddf0568a651!2sPunjab%20University%20College%20of%20Information%20Technology%20Old%20Campus!5e0!3m2!1sen!2s!4v1675014352896!5m2!1sen!2s"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <div class="contac-info">

<!------ Include the above in your HEAD tag ---------->

<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1" style="color:rgb(27, 70, 161);">
                    Contact us <small style="color: rgb(168, 168, 168);">Feel free to contact us</small></h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group"  style="color:rgb(27, 70, 161);">
                            <label for="name">
                                Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                        </div>
                        <div class="form-group"  style="color:rgb(27, 70, 161);">
                            <label for="email"  style="color:rgb(27, 70, 161);">
                                Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                        </div>
                        <div class="form-group" >
                            <label for="subject">
                                Subject</label>
                            <select id="subject" name="subject" class="form-control" required="required">
                                <option value="na" selected="">Choose One:</option>
                                <option value="service">General Customer Service(Info)</option>
                                <option value="suggestions">Suggestions</option>
                                <!-- <option value="product">Product Support</option> -->
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Message</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            Send Message</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
            <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
            <address>
                <strong>PUCIT, OLD CAMPUS</strong><br>
                795 Anarkali, Suite 600<br>
                Mall Road, CA 94107<br>
                <abbr title="Phone">
                    P:</abbr>
                (123) 456-7890
            </address>
            <!-- <address>
                <strong>Full Name</strong><br>
                <a href="mailto:#">first.last@example.com</a>
            </address> -->
            </form>
        </div>
    </div>
</div>

    </div>
    
  </body>
</html>
