<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/static/styles/home.css" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <script
      src="https://kit.fontawesome.com/292d9dbc3b.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="header-container">
        <div class="logo">
        <h1>
    
            AUTOSERVICE
    
        </h1>
        </div>
        
        <div class="navbar">
            <nav class="navbar-container">
                <ul id="navbar-links" class="sf-menu">
                    <li id="home-id">
                        <a href="/" aria-current="page">Home</a>
                    </li>
        
                    <li id="service-id">
                        <a href="/ourservices">Services</a>
                    </li>
        
                    <!-- <li
                        id="services-id">
                        <a href="/services">Services</a>
                        <ul class="dropdown">
                        <li
                            id="service1"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-1001"
                        >
                            <a href="/engine-diagnostics"
                            >Engine Diagnostics</a
                            >
                        </li>
                        <li
                            id="service2"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-1000"
                        >
                            <a href="/lube-oil-and-filters"
                            >Lube Oil and Filters</a
                            >
                        </li>
                        <li
                            id="service3"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-999"
                        >
                            <a href="/belts-and-hoses"
                            >Belts and Hoses</a
                            >
                        </li>
                        <li
                            id="service4"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-998"
                        >
                            <a href="/air-conditioning"
                            >Air Conditioning</a
                            >
                        </li>
                        <li
                            id="service5"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-997"
                        >
                            <a href="/brake-repair"
                            >Brake Repair</a
                            >
                        </li>
                        <li
                            id="service6"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-996"
                        >
                            <a href="/tire-and-wheel-services"
                            >Tire and Wheel Services</a
                            >
                        </li>
                        </ul>
                    </li> -->
                    <li
                        id="gallery-id"
                    >
                        <a href="/aboutus">About Us</a>
                        
                    </li>
                    <li
                        id="our-team-id"
                    >
                        <a href="/ourteam">Our Team</a>
                    </li>
                    
                    <li
                        id="menu-item-989"
                    >
                        <a href="/appointment">Appointment</a>
                    </li>
                    
                    <li
                        id="contact-id"
                    >
                        <a href="/contactus">Contact Us</a>
                    
                    </li>

                    <li
                        id="contact-id"
                    >
                        <a href="/adminloginpage">Login</a>

                    </li>
                </ul>
            </nav>
        </div>

    </div>
    
    <div class="section1">
        <div class="swiper">
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <img class="home-image" src="/static/images/HomeImage-1.jpg" alt="img-1" >
                <div class="image-info">
                    <h1><a target="_blank" href="/">CAR SERVICE CENTER</a></h1>
                    <p>Free oil change, April 15. Only if you have a "5" on your license plate.</p>
                    <a class="btn" target="_blank" href="/appoinment">Make Appoinment</a>
                </div>
              </div>
              <div class="swiper-slide">
                <img src="/static/images/HomeImage-2.jpg" alt="img-2"  >
                <div class="image-info">
                    <h1><a target="_blank" href="/">FIND THE TIRES THAT MATCH YOUR NEEDS</a></h1>
                    <p>Take advantage of our lowest Prices and save Money.</p>
                    <a class="btn" target="_blank" href="/appoinment">Make Appoinment</a>
                </div>
              </div>
              <div class="swiper-slide">
                <img src="/static/images/HomeImage-3.jpg" alt="img-3"  >
                <div class="image-info">
                    <h1><a target="_blank" href="/">EXPERT TECHNICIANS, COMPETITIVE PRICES</a></h1>
                    <p>We are committed to earning your trust by providing the expertise and value ypu exprct.</p>
                    <a class="btn" target="_blank" href="/appoinment">Make Appoinment</a>
                </div>
              </div>

              ...
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          
      
        </div>
      
    </div>

    <div class="section2">
        <div class="appoinment-text">
            <h3>MAKE AN APPOINMENT NOW WITH OUR ONLINE FORM</h3>
        </div>
        <div class="appoinment-btn">
            <a href="/appoinment">MAKE APPOINMENT</a>
        </div>
    </div>


    <div class="section3">
        <div class="section3-heading">
            <h2>WHY CHOOSE US?</h2>
        </div>
        <div class="vertical-line"></div>
        <div class="section3-heading-detail">
            <p>
                We are one of the leading auto repair shops serving customers in Tucson. <br>
                All mechanic services are performed by highly qualified mechanics.
            </p>

        </div>

        <div class="section3-imgs-container">

            <div class="section3-images">

                <div class="section3-img">
                    <img src="/static/images/section3-img1.png" alt="img">
                </div>

                <div class="section3-img-title">
                    <h3>EVERY JOB IS PERSONAL</h3>
                </div>

                <div class="vertical-line"></div>
    
                <div class="section3-img-details">
                    <p>If you want the quality you would expect from the dealership, but with a more personal and friendly atmosphere, you have found it.</p>  
                </div>
            
            </div>

            <div class="section3-images">

                <div class="section3-img">
                    <img src="/static/images/section3-img2.png" alt="img">
                </div>

                <div class="section3-img-title">
                    <h3>BEST MATERIALS</h3>
                </div>
    
                <div class="vertical-line"></div>

                <div class="section3-img-details">
                    <p>Our auto repair shop is capable of servicing a variety of models. We only do the work that is needed to fix your problem.</p>  
                </div>
            
            </div>

            <div class="section3-images">

                <div class="section3-img">
                    <img src="/static/images/section3-img3.png" alt="img">
                </div>

                <div class="section3-img-title">
                    <h3>PROFESSIONAL STANDARDS</h3>
                </div>

                <div class="vertical-line"></div>
    
                <div class="section3-img-details">
                    <p>We have invested in all the latest specialist tools and diagnostic software that is specifically tailored for the software in your vehicle.</p>  
                </div>
            
            </div>


        </div>


        <div class="read-more-btn">
            <a href="/aboutus">Read More</a>

        </div>

    </div>

    <div class="section4">

        <div class="section4-img">
            <img src="/static/images/section4-img.jpg" alt="img">
        </div>
        <div class="section4-info">
            <div class="section4-heading">
                <h1>VEHICLES SERVICED</h1>
            </div>

            <div class="vertical-line"></div>
            
            <div class="section4-second-half">

                
                <div class="section4-details">

                    <p>We provide top notch maintenance service for all types of vehicles.  <br>
                        We are certified to service and repair the following makes:
                    </p>
                
                </div>

                <div class="section4-list">
                    <div class="list">
                        <ul>
                            <li>General Motors</li>
                            <li>Land Rover</li>
                            <li>Lexus</li>
                            <li>Lincoln</li>
                            <li>Mazda</li>
                        </ul>
                    </div>
                    <div class="list">
                        <ul>
                            <li>Mercedes-Benz</li>
                            <li>Mercury</li>
                            <li>Mitsubushi</li>
                            <li>Nissan</li>
                            <li>Renault</li>
                        </ul>
                    </div>
                    <div class="list">
                        <ul>
                            <li>Plymouth</li>
                            <li>Pontiac Porsche</li>
                            <li>Rover</li>
                            <li>Saab</li>
                            <li>Saleen</li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="full-list-btn">
                <a href="/aboutus">View Full List</a>
            </div>

        </div>


    </div>



    <div class="section5">

        <div class="section5-heading">
            <h1>AUTO SERVICES</h1>
        </div>

        <div class="vertical-line"></div>

        <div class="section5-detail">
            <p>
                We offer a full range of garage services to vehicle owners located in Tucson area. <br>
                Our professinals know how to handle a wide range of car services.
            </p>
        </div>

        <div class="section5-imgs-container">

            {% for result in data %}
            <div class="section5-images">
                <div class="img">
                    <a target="_blank" href="/enginediagnostics"><img width="270px" height="180px" src="data:;base64,{{ result[0] }}" alt="img"></a>
                </div>
                <div class="section5-image-info">
                    <a target="_blank" href="/enginediagnostics">{{ result[2] }}</a>
                    <!-- <a class="btn" target="_blank" href="/engine-diagnostics">VIEW MORE</a> -->
                </div>
            </div>
            {% endfor %}
{#            <div class="section5-images">#}
{#                <div class="img">#}
{#                    <a target="_blank" href="/lube-oil"><img src="/static/images/section5-img2.jpg" alt="img"></a>#}
{#                </div>#}
{#                <div class="section5-image-info">#}
{#                    <a target="_blank" href="/lube-oil">LUBE, OIL AND FILTERS</a>#}
{#                    <!-- <a class="btn" target="_blank" href="/lube-oil">VIEW MORE</a> -->#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="section5-images">#}
{#                <div class="img">#}
{#                    <a target="_blank" href="/brakerepair"><img src="/static/images/section5-img3.jpg" alt="img"></a>#}
{#                </div>#}
{#                <div class="section5-image-info">#}
{#                    <a target="_blank" href="/brakerepair">BRAKES REPAIR</a>#}
{#                    <!-- <a class="btn" target="_blank" href="/lube-oil">VIEW MORE</a> -->#}
{#                </div>#}
{#            </div>#}
{##}
{##}
{#            <div class="section5-images">#}
{#                <div class="img">#}
{#                    <a target="_blank" href="/carwash"><img src="/static/images/CarWashSedan.jpg" width="270" height="180" alt="img"></a>#}
{#                </div>#}
{#                <div class="section5-image-info">#}
{#                    <a target="_blank" href="/carwash">CAR WASH</a>#}
{#                    <!-- <a class="btn" target="_blank" href="/carwash">VIEW MORE</a> -->#}
{#                </div>#}
{#            </div>#}

        </div>

        <div class="view-all-btn">
            <a target="_blank" href="/ourservices">VIEW ALL SERVICES</a>
        </div>


    </div>


    <div class="section6">
        <div class="section6-heading">
            <h1>COMPANY OVERVIEW</h1>
        </div>

        <div class="vertical-line"></div>

        <div class="section6-detail">
            <p>
                We can help you with everything from an oil change to an engine change. <br>
                We can handle any problem on both foreign and domestic vehicles.
            </p>
        </div>

        <div class="section6-overview-details">
 
            <div class="section6-overview-detailed-info">

                <div class="overview">
                    <div class="overview-title">
                        <h4>CAR AUDIO SERVICE</h4>
                    </div>
                    <div class="overview-details">
                        <div class="overview-img">
                            <img src="/static/images/audio.png" alt="img">
                        </div>
                        <div class="overview-detail">
                            <p>
Car audio service provides installation and repair of audio systems in vehicles including speakers, amplifiers, subwoofers, and head units. </p>
                        </div>
                    </div>
                </div>
    
                <div class="overview">
                    <div class="overview-title">
                        <h4>OIL CHANGE</h4>
                    </div>
                    <div class="overview-details">
                        <div class="overview-img">
                            <img src="/static/images/oil.png" alt="img">
                        </div>
                        <div class="overview-detail">
                            <p>
Car oil change service involves draining old oil and replacing it with fresh, clean oil to maintain vehicle performance and extend engine life.                 </p>
                        </div>
                    </div>
                </div>
    
                <div class="overview">
                    <div class="overview-title">
                        <h4>ENGINE DIAGNOSTIC</h4>
                    </div>
                    <div class="overview-details">
                        <div class="overview-img">
                            <img src="/static/images/diagnostics.png" alt="img">
                        </div>
                        <div class="overview-detail">
                            <p>
Car engine diagnostic service involves using specialized tools and techniques to identify and diagnose issues with a vehicle's engine.                 </p>
                        </div>
                    </div>
                    
                </div>

            </div>
 
            <div class="section6-overview-detailed-info">

                <div class="overview">
                    <div class="overview-title">
                        <h4>CAR A/C REPAIR</h4>
                    </div>
                    <div class="overview-details">
                        <div class="overview-img">
                            <img src="/static/images/ac.png" alt="img">
                        </div>
                        <div class="overview-detail">
                            <p>
Car A/C repair service involves topping up the refrigerant in your car's air conditioning system to keep it running efficiently and effectively.              </p>
                        </div>
                    </div>
                </div>
    
                <div class="overview">
                    <div class="overview-title">
                        <h4>PARKING CENSORS CALIBRATION</h4>
                    </div>
                    <div class="overview-details">
                        <div class="overview-img">
                            <img src="/static/images/parkingcensor.png" alt="img">
                        </div>
                        <div class="overview-detail">
                            <p>
Car Parking Sensors Calibration service involves adjusting the sensitivity and accuracy of a car's parking sensors to ensure proper functioning and improved safety while parking.</p>
                        </div>
                    </div>
                </div>
    
                <div class="overview">
                    <div class="overview-title">
                        <h4>CAR BATTERY REPAIRS</h4>
                    </div>
                    <div class="overview-details">
                        <div class="overview-img">
                            <img src="/static/images/repair.png" alt="img">
                        </div>
                        <div class="overview-detail">
                            <p>
Car battery repair service involves diagnosing and fixing issues with a car's battery to ensure reliable and efficient starting and power supply.</p>
                        </div>
                    </div>
                    
                </div>

            </div>

        </div>

    </div>


    <div class="footer">
        <div class="footer-header">

            <div class="footer-header-title">
                <div class="footer-header-img">
                    <img src="/static/images/location.png" alt="img">
                </div>
                <div class="footer-header-detail">
                    <div class="footer-header-detail-heading">
                        <p>Lahore</p>
                    </div>
                    <div class="footer-header-detail-info">
                        <p>PUCIT OLD CAMPUS</p>                        
                    </div>
                </div>

            </div>

            <div class="footer-header-title">
                <div class="footer-header-img">
                    <img src="/static/images/phone.png" alt="img">
                </div>
                <div class="footer-header-detail">
                    <div class="footer-header-detail-heading">
                        <p>Feel Free to Call Us Now</p>
                    </div>
                    <div class="footer-header-detail-info">
                        <p>(042)4472 8290</p>                        
                    </div>
                </div>
            </div>

            <div class="footer-header">
                <div id="service-img" class="footer-header-img">
                    <img src="/static/images/servicecar.png" alt="img">
                </div>
                <div id="service-detail" class="footer-header-detail">
                    <div class="footer-header-detail-heading">
                        <p>24/7 Roadside Assistance</p>
                    </div>
                    <div class="footer-header-detail-info">
                        <p>(042)775 2725</p>                        
                    </div>
                </div>
            </div>

        </div>

        <div class="footer-vertical-line"></div>

        <div class="footer-end">
            
            <div class="footer-end-portion1">

                <div class="portion1-title">
                    <p>ABOUT US</p>
                </div>

                <div class="footer-portion-vertical-line"></div>
                
                <div class="portion1-details">
                    <p>Lahore</p>
                    <p>PUCIT OLD CAMPUS</p>
                    <div class="portion1-details-points">
                        <div class="point">
                            <p>Mobile:</p>
                            <p class="point-info">(042)4472 8290</p>
                        </div>
                        <div class="point">
                            <p>Assistance:</p>
                            <p class="point-info">(042)775 2725</p>
                        </div>
                        <div class="point">
                            <p>E-mail:</p>
                            <p class="point-info">bsef20a028@pucit.edu.pk</p>
                        </div>
                    </div>
                </div>


            </div>
            
            <div class="footer-end-portion2">

                <div class="portion2-title">
                    <p>OUR SERVICES</p>
                </div>

                <div class="footer-portion-vertical-line"></div>

                <div class="portion2-points">
                    <ul>
                        <li><a href="/enginediagnostics">Engine Diagnostics</a></li>
                        <li><a href="/lube-oil"> Lube, Oil and Filters</a></li>
                        <li><a href="/carwash">Car Wash</a></li>
                        <!-- <li>Belts And Hoses</li> -->
                        <li><a href="/airconditioning">Air Conditioning</a></li>
                        <li><a href="/brake-repair">Brake Repair</a></li>
                        <li><a href="/wheel-service">Tire And Wheel Services</a></li>
                    </ul>
                </div>

            </div>
            
            <div class="footer-end-portion3">

                <div class="portion3-title">
                    <p>POPULAR TAGS</p>
                </div>

                <div class="footer-portion-vertical-line"></div>

                <div class="portion3-details">
                    <div class="tag-row">
                        <a href="/brakes">BRAKES</a>
                        <a href="/diagnostics">ENGINE</a>
                        <a href="/engine">AC</a>
                    </div>

                    <div class="tag-row">
                        <a href="/filters">FILTERS</a>
                        <a href="/oils">Oils</a>
                        <a href="/suspension">Suspension</a>
                    </div>

                    <!-- <div class="tag-row-3">
                        <a href="/brakes">BRAKES</a>
                        <a href="/diagnostics">DIAGNOSTICS</a>
                        <a href="/engine">ENGINE</a>
                    </div> -->
                    
                    <!-- <ul>

                        <li><a href="/filters">FILTERS</a></li>
                        <li><a href="/oils">Oils</a></li>
                        <li><a href="/suspension">Suspension</a></li>
                    </ul> -->
                </div>

            </div>

            <div class="footer-end-portion4">

                <div class="portion4-title">
                    <p>TIMINGS</p>
                </div>

                <div class="footer-portion-vertical-line"></div>
                
                <div class="portion4-details">
                    <div class="days">
                        <p>MONDAY:</p>
                        <p>TUESDAY:</p>
                        <p>WEDNESDAY:</p>
                        <p>THURSDAY:</p>
                        <p>FRIDAY:</p>
                        <p>SATUREDAY:</p>
                        <p>SUNDAY:</p>
                    </div>
                    <div class="timings">
                        <p>7:30am - 5:30pm:</p>
                        <p>7:30am - 5:30pm:</p>
                        <p>7:30am - 5:30pm:</p>
                        <p>7:30am - 5:30pm:</p>
                        <p>7:30am - 5:30pm:</p>
                        <p>7:30am - 5:30pm:</p>
                        <p>Closed</p>
                    </div>
                </div>
            </div>

        
        </div>

    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script>
            const swiper = new Swiper('.swiper', {
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: false,

                },
        loop: true,


        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },


        });


        // swiper.on("slideChangeTransitionStart", function () {
        //     let activeSlide = document.querySelector(".swiper-slide-active");
        //     let info = activeSlide.querySelector(".img-info");
        //     info.classList.add("active");
        // });




    </script>
</body>
</html>
