<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/ourteam.css" />
    <script
      src="https://kit.fontawesome.com/292d9dbc3b.js"
      crossorigin="anonymous"
    ></script>
    <title>OUR TEAM</title>
  </head>
  <body>
    <div class="header-container">
        <div class="logo">
        <h1>

            AUTOSERVICE

        </h1>
        </div>

        <div class="navbar">
            <nav class="navbar-container">
                <ul id="navbar-links" class="sf-menu">
                    <li id="home-id">
                        <a href="/" aria-current="page">Home</a>
                    </li>

                    <li id="service-id">
                        <a href="/ourservices">Services</a>
                    </li>

                    <!-- <li
                        id="services-id">
                        <a href="/services">Services</a>
                        <ul class="dropdown">
                        <li
                            id="service1"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-1001"
                        >
                            <a href="/engine-diagnostics"
                            >Engine Diagnostics</a
                            >
                        </li>
                        <li
                            id="service2"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-1000"
                        >
                            <a href="/lube-oil-and-filters"
                            >Lube Oil and Filters</a
                            >
                        </li>
                        <li
                            id="service3"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-999"
                        >
                            <a href="/belts-and-hoses"
                            >Belts and Hoses</a
                            >
                        </li>
                        <li
                            id="service4"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-998"
                        >
                            <a href="/air-conditioning"
                            >Air Conditioning</a
                            >
                        </li>
                        <li
                            id="service5"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-997"
                        >
                            <a href="/brake-repair"
                            >Brake Repair</a
                            >
                        </li>
                        <li
                            id="service6"
                            class="menu-item menu-item-type-post_type menu-item-object-ql_services menu-item-996"
                        >
                            <a href="/tire-and-wheel-services"
                            >Tire and Wheel Services</a
                            >
                        </li>
                        </ul>
                    </li> -->
                    <li
                        id="gallery-id"
                    >
                        <a href="/aboutus">About Us</a>

                    </li>
                    <li
                        id="our-team-id"
                    >
                        <a href="/ourteam">Our Team</a>
                    </li>

                    <li
                        id="menu-item-989"
                    >
                        <a href="/appointment">Appointment</a>
                    </li>

                    <li
                        id="contact-id"
                    >
                        <a href="/contactus">Contact Us</a>

                    </li>

                    <li
                        id="contact-id"
                    >
                        <a href="/login">Login</a>

                    </li>
                </ul>
            </nav>
        </div>

    </div>
    <div class="section1">
      <div class="section1-title">
        <p>OUR TEAM</p>
      </div>
      <div class="section1-info">
        <p>YOU ARE HERE: <a href="/">Home</a> / OUR TEAM</p>
      </div>
    </div>

    <div class="section2">
      <div class="co-founders-container">
        <div class="co-founder">
          <div class="img">
            <img
              src="/static/images/cofounder1.jpg"
              width="390"
              height="280"
              alt="img"
            />
            <div class="layer">
              <a
                target="_blank"
                href="https://www.facebook.com/profile.php?id=100025512577515"
                ><i class="fa-brands fa-facebook-f"></i
              ></a>
              <a target="_blank" href="#"
                ><i class="fa-brands fa-instagram"></i
              ></a>
              <a target="_blank" href="#"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </div>
          </div>
          <div class="name">
            <p>AMEER HAMZA</p>
          </div>
          <div class="title">
            <p>CO-FOUNDER</p>
          </div>

          <div class="vertical-bar"></div>

          <div class="cofounder-details">
            <p>
              Primus elite lectus tical at node. Porta commodo terminal forks
              sande. Nulla novum at novelle. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Laudantium non maxime unde! Tempore
              sint, expedita reiciendis asperiores!
            </p>
          </div>
        </div>

        <div class="co-founder">
          <div class="img">
            <img
              src="/static/images/cofounder2.jpg"
              width="390"
              height="280"
              alt="img"
            />
            <div class="layer">
              <a target="_blank" href="#"
                ><i class="fa-brands fa-facebook-f"></i
              ></a>
              <a target="_blank" href="#"
                ><i class="fa-brands fa-instagram"></i
              ></a>
              <a target="_blank" href="#"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </div>
          </div>

          <div class="name">
            <p>OMAR MAJEED</p>
          </div>
          <div class="title">
            <p>CO-FOUNDER</p>
          </div>

          <div class="vertical-bar"></div>

          <div class="cofounder-details">
            <p>
              Primus elite lectus tical at node. Porta commodo terminal forks
              sande. Nulla novum at novelle. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Laudantium non maxime unde! Tempore
              sint, expedita reiciendis asperiores!
            </p>
          </div>
        </div>

        <div class="co-founder">
          <div class="img">
            <img
              src="/static/images/cofounder3.jpg"
              width="390"
              height="280"
              alt="img"
            />
            <div class="layer">
              <a target="_blank" href="#"
                ><i class="fa-brands fa-facebook-f"></i
              ></a>
              <a target="_blank" href="#"
                ><i class="fa-brands fa-instagram"></i
              ></a>
              <a target="_blank" href="#"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </div>
          </div>
          <div class="name">
            <p>RIZWAN ABID</p>
          </div>
          <div class="title">
            <p>CO-FOUNDER</p>
          </div>

          <div class="vertical-bar"></div>

          <div class="cofounder-details">
            <p>
              Primus elite lectus tical at node. Porta commodo terminal forks
              sande. Nulla novum at novelle. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Laudantium non maxime unde! Tempore
              sint, expedita reiciendis asperiores!
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="section3">
      <div class="section3-heading">
        <p>OUR SKILLS</p>
      </div>

      <div class="skill-section-vertical-bar"></div>

      <div class="skills">
        <div class="skillset">
          <div class="bar">
            <div class="progress-line air-conditioning">
              <span></span>
            </div>
            <div class="bar-info">
              <span>Air Conditioning Services</span>
              <span>95%</span>
            </div>
          </div>

          <div class="bar">
            <div class="progress-line lube-oil">
              <span></span>
            </div>
            <div class="bar-info">
              <span>Lube, Oil and Filters</span>
              <span>72%</span>
            </div>
          </div>

          <div class="bar">
            <div class="progress-line car-wash">
              <span></span>
            </div>
            <div class="bar-info">
              <span>CAR Wash</span>
              <span>90%</span>
            </div>
          </div>
        </div>

        <div class="skillset">
          <div class="bar">
            <div class="progress-line engine">
              <span></span>
            </div>
            <div class="bar-info">
              <span>Engine Diagnostic</span>
              <span>92%</span>
            </div>
          </div>

          <div class="bar">
            <div class="progress-line brake">
              <span></span>
            </div>
            <div class="bar-info">
              <span>Brake Repair</span>
              <span>84%</span>
            </div>
          </div>

          <div class="bar">
            <div class="progress-line suspension">
              <span></span>
            </div>
            <div class="bar-info">
              <span>Suspension</span>
              <span>89%</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="footer-header">
        <div class="footer-header-title">
          <div class="footer-header-img">
            <img src="/static/images/location.png" alt="img" />
          </div>
          <div class="footer-header-detail">
            <div class="footer-header-detail-heading">
              <p>Lahore</p>
            </div>
            <div class="footer-header-detail-info">
              <p>PUCIT OLD CAMPUS</p>
            </div>
          </div>
        </div>

        <div class="footer-header-title">
          <div class="footer-header-img">
            <img src="/static/images/phone.png" alt="img" />
          </div>
          <div class="footer-header-detail">
            <div class="footer-header-detail-heading">
              <p>Feel Free to Call Us Now</p>
            </div>
            <div class="footer-header-detail-info">
              <p>(042)4472 8290</p>
            </div>
          </div>
        </div>

        <div class="footer-header">
          <div id="service-img" class="footer-header-img">
            <img src="/static/images/servicecar.png" alt="img" />
          </div>
          <div id="service-detail" class="footer-header-detail">
            <div class="footer-header-detail-heading">
              <p>24/7 Roadside Assistance</p>
            </div>
            <div class="footer-header-detail-info">
              <p>(042)775 2725</p>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-vertical-line"></div>

      <div class="footer-end">
        <div class="footer-end-portion1">
          <div class="portion1-title">
            <p>ABOUT US</p>
          </div>

          <div class="footer-portion-vertical-line"></div>

          <div class="portion1-details">
            <p>Lahore</p>
            <p>PUCIT OLD CAMPUS</p>
            <div class="portion1-details-points">
              <div class="point">
                <p>Mobile:</p>
                <p class="point-info">(042)4472 8290</p>
              </div>
              <div class="point">
                <p>Assistance:</p>
                <p class="point-info">(042)775 2725</p>
              </div>
              <div class="point">
                <p>E-mail:</p>
                <p class="point-info">bsef20a028@pucit.edu.pk</p>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-end-portion2">
          <div class="portion2-title">
            <p>OUR SERVICES</p>
          </div>

          <div class="footer-portion-vertical-line"></div>

          <div class="portion2-points">
            <ul>
              <li><a href="/enginediagnostics">Engine Diagnostics</a></li>
              <li><a href="/lube-oil"> Lube, Oil and Filters</a></li>
              <li><a href="/carwash">Car Wash</a></li>
              <!-- <li>Belts And Hoses</li> -->
              <li><a href="/airconditioning">Air Conditioning</a></li>
              <li><a href="/brake-repair">Brake Repair</a></li>
              <li><a href="/wheel-service">Tire And Wheel Services</a></li>
            </ul>
          </div>
        </div>

        <div class="footer-end-portion3">
          <div class="portion3-title">
            <p>POPULAR TAGS</p>
          </div>

          <div class="footer-portion-vertical-line"></div>

          <div class="portion3-details">
            <div class="tag-row">
              <a href="/brakes">BRAKES</a>
              <a href="/diagnostics">ENGINE</a>
              <a href="/engine">AC</a>
            </div>

            <div class="tag-row">
              <a href="/filters">FILTERS</a>
              <a href="/oils">Oils</a>
              <a href="/suspension">Suspension</a>
            </div>

            <!-- <div class="tag-row-3">
                        <a href="/brakes">BRAKES</a>
                        <a href="/diagnostics">DIAGNOSTICS</a>
                        <a href="/engine">ENGINE</a>
                    </div> -->

            <!-- <ul>

                        <li><a href="/filters">FILTERS</a></li>
                        <li><a href="/oils">Oils</a></li>
                        <li><a href="/suspension">Suspension</a></li>
                    </ul> -->
          </div>
        </div>

        <div class="footer-end-portion4">
          <div class="portion4-title">
            <p>TIMINGS</p>
          </div>

          <div class="footer-portion-vertical-line"></div>

          <div class="portion4-details">
            <div class="days">
              <p>MONDAY:</p>
              <p>TUESDAY:</p>
              <p>WEDNESDAY:</p>
              <p>THURSDAY:</p>
              <p>FRIDAY:</p>
              <p>SATUREDAY:</p>
              <p>SUNDAY:</p>
            </div>
            <div class="timings">
              <p>7:30am - 5:30pm:</p>
              <p>7:30am - 5:30pm:</p>
              <p>7:30am - 5:30pm:</p>
              <p>7:30am - 5:30pm:</p>
              <p>7:30am - 5:30pm:</p>
              <p>7:30am - 5:30pm:</p>
              <p>Closed</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      const section3 = document.querySelector(".section3");
      const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          if (entry.intersectionRatio > 0) {
            // Add the active class
            entry.target
              .querySelectorAll(".bar .progress-line")
              .forEach((bar) => bar.classList.add("active"));
          } else {
            // Remove the active class
            entry.target
              .querySelectorAll(".bar .progress-line")
              .forEach((bar) => bar.classList.remove("active"));
          }
        });
      });
      observer.observe(section3);

      //   var skills = document.getElementById("skills-section");
      //   var skillsObserver = new IntersectionObserver(
      //     function (entries, observer) {
      //       entries.forEach((entry) => {
      //         if (entry.isIntersecting) {
      //           // trigger animation
      //           entry.target
      //             .querySelectorAll(".bar .progress-line")
      //             .forEach(function (bar) {
      //               bar.classList.add("animate");
      //             });
      //           entry.target
      //             .querySelectorAll(".bar .bar-info span")
      //             .forEach(function (bar) {
      //               bar.classList.add("showText");
      //             });
      //           entry.target
      //             .querySelectorAll(".bar .progress-line span::before")
      //             .forEach(function (bar) {
      //               bar.classList.add("showText2");
      //             });
      //           entry.target
      //             .querySelectorAll(".bar .progress-line span::after")
      //             .forEach(function (bar) {
      //               bar.classList.add("showText2");
      //             });
      //           observer.unobserve(entry.target);
      //         }
      //       });
      //     },
      //     { rootMargin: "0px 0px -200px 0px" }
      //   );
      //   skillsObserver.observe(skills);
    </script>
  </body>
</html>
